<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Demo</title>
    <style>
        .own-message {
            color: blue;
        }
        .other-message {
            color: green;
        }
    </style>
</head>
<body>
    <h1>WebSocket Demo</h1>
    <input type="text" id="userId" placeholder="Enter user ID" />
    <input type="text" id="message" placeholder="Enter your message here" />
    <button onclick="sendMessage()">Send</button>
    <ul id="messages"></ul>

    <script type="text/javascript">
        var userId = prompt("Enter your user ID");
        var socket = new WebSocket("wss://324f-61-222-34-1.ngrok-free.app/test/ws?userId=" + userId);

        socket.onmessage = function(event) {
            var messages = document.getElementById("messages");
            var message = document.createElement("li");

            var data = event.data.split(":");
            var senderId = data[0];
            var messageText = data.slice(1).join(":");

            if (senderId === userId) {
                message.className = 'own-message';
                message.appendChild(document.createTextNode("Me: " + messageText));
            } else {
                message.className = 'other-message';
                message.appendChild(document.createTextNode(senderId + ": " + messageText));
            }

            messages.appendChild(message);
        };

        socket.onopen = function(event) {
            console.log("WebSocket connection established");
        };

        socket.onerror = function(error) {
            console.error("WebSocket Error: ", error);
        };

        socket.onclose = function(event) {
            console.log("WebSocket connection closed: ", event);
        };

        function sendMessage() {
            var input = document.getElementById("message");
            var recipientId = document.getElementById("userId").value;
            var message = userId + ":" + input.value;

            if (socket.readyState === WebSocket.OPEN) {
                socket.send(message);
                input.value = '';
            } else {
                console.error("WebSocket is not open: ", socket.readyState);
            }
        }
    </script>
</body>
</html>
