<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支付頁面</title>
</head>
<body>
    <form action="/pay" method="post">
        <input type="hidden" name="MerchantID" th:value="${params.MerchantID}">
        <input type="hidden" name="MerchantTradeNo" th:value="${params.MerchantTradeNo}">
        <input type="hidden" name="MerchantTradeDate" th:value="${params.MerchantTradeDate}">
        <input type="hidden" name="PaymentType" th:value="${params.PaymentType}">
        <input type="hidden" name="TotalAmount" th:value="${params.TotalAmount}">
        <input type="hidden" name="TradeDesc" th:value="${params.TradeDesc}">
        <input type="hidden" name="ItemName" th:value="${params.ItemName}">
        <input type="hidden" name="ReturnURL" th:value="${params.ReturnURL}">
        <input type="hidden" name="ChoosePayment" th:value="${params.ChoosePayment}">
        <input type="hidden" name="CheckMacValue" th:value="${params.CheckMacValue}">
        <input type="hidden" name="EncryptType" th:value="${params.EncryptType}">
        <button type="submit">提交支付</button>
    </form>
</body>
</html>
